<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/cat-icon.png">
    <title>Page Name</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="/javascripts/my-test.js"></script>

  </head>

  <body>
    <%= render partial: "layouts/header"%>
    <%= yield %>
  </body>
</html>
